In [6]:
import pandas as pd
import random

# List of names
names = ["Sela Hack","Angel Gomez","Kayleigh Aguirre", "Andy Short", "Cheyenne Friedman", "Darwin Duarte",
         "Kynlee Bowen", "Trevor Bates", "Madilyn Zamora", "Quentin Sampson",
         "Meilani Andrews","Elina Farrell", "Ty Singh", "Vivienne Booker", "Dominik Castillo",
         "Eva Henson", "Bellamy Pace", "Giana Newman", "Anderson Hail"]

# Shuffle the list of names
random.shuffle(names)

# Split the names into tables
tables = []
while len(names) > 0:
    table_size = min(10, len(names))
    tables.append(names[:table_size])
    names = names[table_size:]

# Create a pandas dataframe from the tables
df = pd.DataFrame()
for i, table in enumerate(tables):
    table_name = f"Table {i+1}"
    table_df = pd.DataFrame({table_name: table})
    df = pd.concat([df, table_df], axis=1)

# Fill in any empty spaces in the dataframe with NaN
df = df.fillna("")

# Display the resulting dataframe
print(df)

             Table 1          Table 2
0       Giana Newman       Eva Henson
1  Cheyenne Friedman      Angel Gomez
2     Madilyn Zamora  Vivienne Booker
3      Anderson Hail        Sela Hack
4       Bellamy Pace  Meilani Andrews
5         Andy Short    Elina Farrell
6       Trevor Bates     Kynlee Bowen
7   Dominik Castillo    Darwin Duarte
8   Kayleigh Aguirre         Ty Singh
9    Quentin Sampson

In [7]:
df.to_csv('seating_arrangement.csv', index=False)